// Variaveis usadas no meu Sass
$cor-padrao: darken(#c24e4b, 0);
$cor-auxiliar: lighten(#1e2c35, 0);
$cor-branca: #fff;

//mq=media query
$mq-mobile: "(max-width:980px)";

$sprite-spacing: 5px;

$tamanho-da-fonte-padrao: 16px;